{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card bg-light text-dark">
                    <div class="card-body ">
                        {{ movie_form.as_p }}
                        <div class="row mt-4">
                            <div class="col-12 text-center">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </form>
</div>
{% endblock %}
